[submodule "machines"]
	path = machines
	url = https://github.com/mythagel/declcam-machines.git
[submodule "tools"]
	path = tools
	url = https://github.com/mythagel/declcam-tools.git
[submodule "ops"]
	path = ops
	url = https://github.com/mythagel/declcam-ops.git
